*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

.header
{
    /* border:.1rem solid black; */
    height:4rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right:1.5rem;

}

.logo
{
    /* border:.1rem solid black; */
    width:auto;
    height:auto;
}

.logo img{

    width:100%;
    height:100%;
}

.nav{

    /* border:.1rem solid black; */
    display:flex;
    gap:1.5rem;

    
}

.nav a{

    text-decoration:none;
    font-size:1.2rem;
    color:#333;
    
}

.hero-div
{
    /* border:.1rem solid black; */
    height:auto;

}

.carousel {
  width:100%;
  height:100%;
  position:relative;
}
.slides {
  width:100%;
  height:100%;
  position:relative;
}
.slide {
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1s ease-in-out;
}
.slide.active {
  opacity:1;
}

.progress-bars {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  z-index: 10;
}

/* Background line */
.progress {
  flex: 1;
  height: 4px;
  background: rgba(255,255,255,0.4);
  overflow: hidden;
  border-radius: 2px;
}

/* Filling line */
.progress::before {
  content: "";
  display: block;
  height: 100%;
  width: 0%;
  background: white;
}

/* Active animation */
.progress.active::before {
  animation: fill 3s linear forwards;
}

@keyframes fill {
  from { width: 0%; }
  to { width: 100%; }
}